<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
</head>
<body>
<h4>当前时间：</h4>
<section id="timer">
</section>
<h4>距离2018年12月13日还有：</h4>
<section id="countdown"></section>
</body>
</html>
